/* Reset mặc định */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff; /* Thay đổi màu nền sang trắng */
    transition: background-color 0.3s ease-in-out;
}

/* Header */
header {
    background: linear-gradient(135deg, #8A2BE2, #D8BFD8);
    color: white;
    text-align: center;
    padding: 2em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out;
}

header h1 {
    font-size: 2.5em;
    animation: fadeIn 2s ease-in-out;
}

/* Navigation */
nav {
    background-color: #4B0082;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
}

nav a:hover {
    background-color: #8A2BE2;
    border-radius: 5px;
    transform: scale(1.1);
}

/* Main content */
main {
    padding: 2em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    animation: fadeIn 2s ease-in-out;
}

main h2 {
    color: #4B0082;
    margin-bottom: 0.5em;
    transition: color 0.3s;
}

main h2:hover {
    color: #8A2BE2;
}

.responsive-img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.responsive-img:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    background: linear-gradient(135deg, #D8BFD8, #8A2BE2);
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out;
}

/* Keyframes for animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}